<div class="mdl-layout mdl-js-layout">
  <!-- Header -->
  <header> 
    <div class="mdl-layout__header-row headline--styling">
      <span class="mdl-typography--display-2 add--pointer" 
          (click)="goToDevrant()">
        devRant Viewer
      </span>
      <div class="mdl-layout-spacer"></div>
      <div class="fix-rb-top-offset">
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect rb--spacing" for="option-1">
          <input #rb1 type="radio" id="option-1" class="mdl-radio__button" 
                 name="options" value="algo" checked
                 (click)="changeSort(rb1.value)">
          <span class="mdl-radio__label">algo</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect rb--spacing" for="option-2">
          <input #rb2 type="radio" id="option-2" class="mdl-radio__button" 
                 name="options" value="recent"
                 (click)="changeSort(rb2.value)">
          <span class="mdl-radio__label">recent</span>
        </label>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect rb--spacing" for="option-3">
          <input #rb3 type="radio" id="option-3" class="mdl-radio__button" 
                 name="options" value="top"
                 (click)="changeSort(rb3.value)">
          <span class="mdl-radio__label">top</span>
        </label>
      </div>
      <div>
        <div *ngIf="showSearch" class="mdl-textfield mdl-js-textfield search_term--spacing">
          <input class="mdl-textfield__input" type="text" #searchTerm
                 placeholder="Enter the search term..." (keyup)="searchFor($event, searchTerm.value)">
        </div>
        
        <button class="mdl-button mdl-js-button mdl-button--icon search_button--spacing"
                data-balloon-length="small" data-balloon="Search for Rants" data-balloon-pos="down"
                (click)="showSearch = !showSearch">
          <i class="material-icons">search</i>
        </button>
      </div>
      <div>
        <button class="mdl-button mdl-js-button mdl-button--icon"
                data-balloon-length="small" data-balloon="Load more Rants" data-balloon-pos="down"
                (click)="loadMore([rb1.checked, rb2.checked, rb3.checked])">
          <i class="material-icons">autorenew</i>
        </button>
      </div>
    </div>
  </header>

  <!-- Content -->
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer--styling">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Built with Angular 2, TypeScript & MDL - 
        <a class="anchor--styling"
           href="https://github.com/flashback2k14/DevRantWebApp"
           target="_blank" role="button" title="Github">Github
        </a>
      </div>
    </div>
  </footer>
</div>