<div class="mdl-grid">

  <!-- 1. Row -->
  <!-- Headline -->
  <div class="mdl-cell mdl-cell--12-col">
    <h3 *ngIf="rants" class="mdl-typography--display-2 mdl-typography--text-center">Fetched Rants: {{rants.length}}</h3>
  </div>

  <!-- 2. Row -->
  <!-- Left Spacing -->
  <div class="mdl-cell mdl-cell--2-col"></div>

  <!-- Left Content Area -->
  <div class="mdl-cell mdl-cell--4-col">
    <div *ngFor="let rant of rants; let i = index" class="card--spacing">
      <!-- Show even rants -->
      <div *ngIf="i % 2 === 0">
        <rant-card [rant]="rant"></rant-card>
      </div>
    </div>
  </div>

  <!-- Right Content Area -->
  <div class="mdl-cell mdl-cell--4-col fix-right-top-card-offset">
    <div *ngFor="let rant of rants; let i = index" class="card--spacing">
      <!-- Show odd rants -->
      <div *ngIf="i % 2 !== 0">
        <rant-card [rant]="rant"></rant-card>
      </div>
    </div>
  </div>

  <!-- Right Spacing -->
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>
