.card_main--styling {
  background: white;
  border-radius: 4px;
}

.card_main-headline {
  background: #54556E;
  color: white;
}

.card_content--styling {
  height: 50px;
  margin: 10px 0 10px 0;
  padding: 12px 0 0 15px;
  background: white;
  border-radius: 4px;
}

.text--color {
  color: #37474F;
}
