.headline--styling {
  margin: 10px 0 10px -60px;
}

.fix-rb-top-offset {
  margin-top: -2px;
}

.rb--spacing {
  margin-right: 20px;
}

.search_term--spacing {
  margin-right: 10px;
}

.search_button--spacing {
  margin-right: 10px;
}

.footer--styling {
  margin: 0;
  padding: 8px 16px 6px 16px;
  background: #414159;
}

.anchor--styling {
  color: white;
  text-decoration: none;
}