<div class="mdl-layout mdl-js-layout">
  <!-- Header -->
  <header> 
    <div class="mdl-layout__header-row headline--styling">
      <span class="mdl-typography--display-2">
        DevRant
      </span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>

  <!-- Content -->
  <main class="mdl-layout__content">
      <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer class="footer--styling">
    <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Built with Angular 2 & TypeScript - 
        <a class="anchor--styling"
           href="https://github.com/flashback2k14/DevRantWebApp"
           target="_blank" role="button" title="Github">Github
        </a>
      </div>
    </div>
  </footer>
</div>